<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AES_KEY</key>
	<string>DsnJXXWxyocXm13KltQ0kPWOzuSPUG/Cw6rjZua7Tvc=</string>
	<key>SMS_URL</key>
	<string>https://downloadsdk.easesdk.com/downloads/IMDemo/sms/index.html</string>
</dict>
</plist>
